#displayBooks, #displayVerses, #displayVerse, h2, #selectScripture {
    display: flex;
    justify-content: center;
}

select {
    border-radius: 8px;
    background-color: black;
}

#mainDiv {

    background-color: aqua;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 10px 10px 10px 10px grey;
}

body {
    background-color: grey;
}