#displayBooks, #displayVerses, #displayVerse, h2, #selectScripture {
    display: flex;
    justify-content: center;
}

select {
    border-radius: 8px;
    background-color: black;
}

#mainDiv {
    border: 50px;
    padding: 50px;
}