html, body {
    height: 100%;
    margin: 0;
}


body {
    background-color: rgb(247, 247, 247);
    padding-left: 20px;
    padding-right: 20px;
    border-left: 20px;
    border-right: 20px;
}


#displayBooks, #displayVerses, h2, #selectScripture {
    display: flex;
    justify-content: center;
}


div#separate {
    border: 10px;
    padding: 10px;
}

h2, div#infoDisplays {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

select {
    background-color: rgb(128, 95, 21);
    color: rgb(255, 229, 170);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select:hover {
    transform: scale(2);
}


option:hover {
    background-color: darkgreen;
}

body {
    background-color: rgb(247, 247, 247);
    padding-left: 20px;
    padding-right: 20px;
    border-left: 20px;
    border-right: 20px;
}


#mainDiv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(15, 69, 79);
    height: 100%;

}

div#separate {
    color: rgb(212, 116, 106);
}


input.color1 {
    background-color: rgb(128, 95, 21);
    color: rgb(255, 229, 170);
    border-radius: 8px;
    padding: 5px;
    border: 5px;
    /*box-shadow: 0 4px 8px 0 rgba(255, 229, 170, 0.2), 0 6px 20px 0 rgba(255, 229, 170, 0.19);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=submit] {
    -webkit-transition: width 2s; /* Safari */
    transition: width 4s linear 4s;
}

input[type=submit]:hover {
    box-shadow: none;
    width: 150%;
}


hr {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: rgb(106, 149, 157);
}


h1 {
    display: flex;
    justify-content: flex-end;
    border-right: 10px;
    border-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.textColor {
    color: rgb(212, 116, 106);
    font-size: 30px;
}


.verseText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    background-color: coral;
    color: white;
}

.verse-text {
    position: relative;
    font-size: 20px;
    color: rgb(212, 116, 106);
    text-align: center;
    top: 0px;
    width: 100%;
    /*-webkit-animation: myverse 4s 1; /* Safari 4.0 - 8.0 */*/
    /*animation: myverse 4s 1;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myverse {
    50% {
        top: 300px;
    }
}

@keyframes myverse {
    0% {
        transform: scale(.25);
        opacity: .25;
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(180deg);
        opacity: .75;
        top: 300px;
    }
}

#displayVerse {
    opacity: 0;
}

#displayVerse:hover {
opacity: 1;
-webkit-animation: myverse 4s 1; /* Safari 4.0 - 8.0 */
animation: myverse 4s 1;
}

img#displayBookImage:hover {
    opacity: 0.25;
    transform: scale(.9) rotateY(180deg);
    -moz-transform: scale(.9) rotateY(180deg);
    -webkit-transform: scale(.9) rotateY(180deg);
    -o-transform: scale(.9) rotateY(180deg);
}

img#displayBookImage {
    display: flex;
    justify-content: center;
    opacity: 1;
}